<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Blog Ram</title>
</head>

<body>
    <header>
        <h1>Blog Ram</h1>
        <h3> A blog that's stored in RAM.</h3>
        <div class="navBar">
            <a href="/">Home</a>
            <a href="/write"> Write Post</a>
        </div>
    </header>
    <main>