<%- include('./partials/header.ejs') %>

<h2>Table of Contents</h2>
<ul class="list">
    <% if (locals.blogIndex) { %>
        <% for( let i = 0; i < locals.blogIndex.length; i++ ) { %>
            <li class="list__item"><a href="/<%= locals.blogIndex[i].url %>" class="list__item__link"><%= locals.blogIndex[i].title %></a></li>
        <% } %>
    <% } %>
</ul>

<%- include('./partials/footer.ejs') %>
