* {
    box-sizing: border-box;
}

body {
    background-color: #b9e4f3;
    font-family: Open Sans, Arial, sans-serif
}

header, main {
    background-color: #ffffff;
    width: 75%;
    margin: auto;
    border-radius: 25px;
}

header {
    margin-top: 20px;
    text-align: center;

    h1 {
        margin: 0;
        padding: 20px 0;
    }

    h3 {
        margin: 0;
        padding-top: 0;
        padding-bottom: 20px;
    }
}

.navBar {
    color: #2ea3f2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    a {
        &:hover {
            border-bottom: 2px solid #0485DB;
        }
        
        &:active {
            border-bottom: 2px solid #02426D;
        }
    }
    

}

a {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    border-bottom: 2px solid #ffffff;       
    color: #2ea3f2;


    &:active, &:hover, &:visited {
        color: #2ea3f2;
    }

    &:hover {
        color: #0485DB;
    }

    &:active {
        color: #02426D;
    }
}

main {
    font-size: 20px;
    margin-top: 20px;

    h2 {
        text-align: center;
        font-size: 25px;
        padding-top: 4px;
    }

    h4 {
        text-align: center;
    }

    ul {
        list-style: none;
        
        li {
            padding: 4px;
        }
    }

    min-height: 1000px;
}

article {
    padding: 0 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}